:root {
    --max-width: 600px;
    --accent-highlight: rgba(30, 144, 255, 0.1);
    --accent-color-1: #1e90ff;
    --accent-color-2: #066fd8;
    --accent-color-3: #125fac;
    /* filter: hue-rotate(180deg) invert(); */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12pt;
    background-color: #eee;
    overflow-x: hidden;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

.full-width {
    width: 100%;
}
.hidden {
    visibility: hidden;
}
.grayed {
    color: #666;
}

.text-accent {
    color: var(--accent-color-1);
}
.text-red {
    color: red;
}
.text-orange {
    color: orange;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.header-inner {
    box-sizing: border-box;
    height: 50px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2px;
}
.header-center {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.header-right {
    justify-content: end;
}

.header-textbox {
    padding: 0;
}

.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.buttons-inner {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    padding: 4px;
}
.buttons-inner .clear-button {
    flex: 1;
    padding: 0;
}

.header .header-inner,
.buttons .buttons-inner,
.pages .pages-inner {
    margin: 0 auto;
    max-width: var(--max-width);
}

.pages {
    overflow-x: hidden;
}

.pages .pages-inner {
    position: relative;
    height: 100vh;
}
.pages-inner .page {
    z-index: 0;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
    opacity: 1;
    transform: translateX(0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 6px 78px;
}
.pages-inner .page.noanimate {
    transition: none;
}
.pages-inner .page.noheight {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}
.pages-inner .page.hidden {
    opacity: 0;
    visibility: hidden;
}
.pages-inner .page.slide-left {
    transform: translateX(-100%);
}
.pages-inner .page.slide-right {
    transform: translateX(100%);
}
.pages-inner .page.visible {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.clear-button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 6px;
    gap: 2px;
    background-color: transparent;
    color: var(--accent-color-1);
    transition: background-color 0.2s;
}
.clear-button span {
    margin: 2px;
}
.clear-button iconify-icon {
    font-size: 28px;
    transition: transform 0.2s;
}
.clear-button.two-row {
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
.clear-button.two-row span {
    font-size: 10pt;
    margin: 0;
}
.clear-button.two-row iconify-icon {
    font-size: 36px;
}
.clear-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.clear-button:active {
    background-color: rgba(0, 0, 0, 0.12);
}
.clear-button:active iconify-icon {
    transform: scale(0.8);
}
.neutral-buttons .clear-button {
    color: #111;
}
.neutral-buttons .clear-button iconify-icon {
    color: #555;
}
.clear-button.selected,
.clear-button.selected iconify-icon {
    color: var(--accent-color-1);
}

.list-layout {
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 14px;
}

.list-layout .item-group {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.list-layout .item {
    display: flex;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: black;
    padding: 10px;
    gap: 2px;
    text-align: left;
    transition: background-color 0.2s;
    user-select: none;
}
.list-layout .item iconify-icon {
    color: #555;
    font-size: 28px;
    transition: transform 0.2s;
}
.list-layout .item span {
    padding: 5px 4px 4px;
    flex-grow: 1;
}
.list-layout .item .right {
    text-align: right;
    color: #888;
}
.list-layout .item:last-child {
    border-bottom: none;
}
.list-layout .item.focusable:hover,
.list-layout button.item:hover,
.list-layout label.item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.list-layout .item.focusable:active,
.list-layout button.item:active,
.list-layout label.item:active {
    background-color: rgba(0, 0, 0, 0.08);
}
.list-layout .item.focusable:active iconify-icon,
.list-layout button:active iconify-icon,
.list-layout label:active iconify-icon {
    transform: scale(0.8);
}
.list-layout .item.focusable:disabled,
.list-layout button.item:disabled,
.list-layout label.item:disabled {
    color: #999;
    background-color: transparent;
}
.list-layout .item input[type="checkbox"],
.list-layout .item input[type="radio"] {
    width: 22px;
    height: 22px;
}
.list-layout .item-group-label {
    margin-bottom: -10px;
    padding-left: 10px;
    padding-top: 4px;
    color: #777;
    user-select: none;
    font-weight: bold;
}
.list-layout .item.focusable:disabled iconify-icon,
.list-layout button.item:disabled iconify-icon,
.list-layout label.item:disabled iconify-icon,
.list-layout .item.text-input iconify-icon {
    transform: none;
}
.list-layout .item.text-input:focus-within {
    background-color: var(--accent-highlight);
}
.list-layout .item.text-input span {
    flex: initial;
}
.list-layout .item.text-input input {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0 4px;
    flex: 1;
    background-color: transparent;
    border-bottom: 1px solid #aaa;
}
.list-layout .item.text-input:focus-within input {
    border-color: var(--accent-color-1);
}

.checkbox input[type="checkbox"],
.togglebox input[type="checkbox"],
.radiobox input[type="radio"] {
    display: none;
}
.checkbox .check-marker,
.togglebox .check-marker,
.radiobox .check-marker {
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    margin: 3px;
    background-color: #e9e9e9;
    border-radius: 4px;
    position: relative;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s;
}
.checkbox .check-marker:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    opacity: 0;
    border-color: white;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: opacity 0.1s, box-shadow 0.1s;
}

.checkbox input[type="checkbox"]:checked ~ .check-marker {
    background-color: var(--accent-color-1);
}
.checkbox input[type="checkbox"]:checked ~ .check-marker:after {
    opacity: 1;
}

.radiobox .check-marker {
    border-radius: 100%;
}
.togglebox .check-marker:after,
.radiobox .check-marker:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    opacity: 0;
    background-color: var(--accent-color-1);
    transition: opacity 0.1s;
}

.radiobox input[type="radio"]:checked ~ .check-marker {
    box-shadow: inset 0 0 0 2px var(--accent-color-1);
    background-color: white;
}
.radiobox input[type="radio"]:checked ~ .check-marker:after {
    opacity: 1;
}

.togglebox .check-marker {
    width: 40px;
    border-radius: 11px;
    background-color: #ddd;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.togglebox .check-marker:after {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: background-color 0.2s, transform 0.2s;
}
.togglebox input[type="checkbox"]:checked ~ .check-marker {
    background-color: var(--accent-color-1);
}
.togglebox input[type="checkbox"]:checked ~ .check-marker:after {
    background-color: white;
    transform: translateX(18px);
}

.textbox {
    border-bottom: 2px solid #bbb;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.textbox:focus-within {
    border-color: var(--accent-color-1);
    background-color: var(--accent-highlight);
}
.textbox iconify-icon {
    font-size: 24px;
    color: #777;
}
.textbox:focus-within iconify-icon {
    color: var(--accent-color-3);
}
.textbox input {
    border: none;
    outline: none;
    padding: 0 3px;
    margin: 0;
    margin-bottom: -0px;
    flex: 1;
    background-color: transparent;
}
.textbox.hint {
    margin-top: 20px;
}
.textbox .hint {
    position: absolute;
    bottom: 2px;
    left: 5px;
    transition: transform 0.2s;
    color: #888;
    pointer-events: none;
}
.textbox:focus-within .hint,
.textbox input:valid ~ .hint {
    transform: translateX(-6px) translateY(-26px);
    font-size: 10pt;
}
.textbox:focus-within .hint {
    color: var(--accent-color-1);
}
