:root {
    --max-width: 500px;
    --accent-color-1: #1e90ff;
    --accent-color-2: #066fd8;
    /* filter: hue-rotate(180deg) invert(); */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12pt;
    background-color: white;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header-inner {
    box-sizing: border-box;
    height: 48px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-center {
    flex: 1;
    justify-content: center;
}
.header-right {
    justify-content: end;
}

.header-textbox {
    padding: 4px 2px 5px;
}

.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.buttons-inner {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    padding: 4px;
}
.buttons-inner .clear-button {
    flex: 1;
    padding: 0;
}

.header .header-inner,
.buttons .buttons-inner,
.screens .screen {
    margin: 0 auto;
    max-width: var(--max-width);
}

.clear-button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 6px;
    gap: 2px;
    background-color: transparent;
    color: var(--accent-color-1);
    transition: background-color 0.2s;
}
.clear-button span {
    margin: 2px;
}
.clear-button iconify-icon {
    font-size: 28px;
    transition: transform 0.2s;
}
.clear-button.two-row {
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
.clear-button.two-row span {
    font-size: 10pt;
    margin: 0;
}
.clear-button.two-row iconify-icon {
    font-size: 32px;
}
.clear-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.clear-button:active {
    background-color: rgba(0, 0, 0, 0.12);
}
.clear-button:active iconify-icon {
    transform: scale(0.8);
}

.screen {
    padding: 56px 4px 70px;
}

.list-layout {
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 12px;
}

.list-layout .item-group {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.list-layout .item {
    display: flex;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: black;
    padding: 8px;
    gap: 4px;
    text-align: left;
    transition: background-color 0.2s;
}
.list-layout .item iconify-icon {
    font-size: 26px;
}
.list-layout .item span {
    padding: 4px 4px 3px;
    flex: 1;
}
.list-layout .item:last-child {
    border-bottom: none;
}
.list-layout .item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.list-layout .item:active {
    background-color: rgba(0, 0, 0, 0.1);
}
